<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      G.O.A.T
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-avatar class="ion-text-center">
        <img src="../assets/img/marta.png">
      </ion-avatar>
      <ion-title size="large" class="ion-text-center" id="smalltitle">Chapters</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="chapter">
          <div>
            <img src="../assets/img/marta2.png">
            Ch. 1 - Trip
          </div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="chapter">
          <img src="../assets/img/marta.png">
          Ch. 2 - Arrival
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="chapter">
          <img src="../assets/img/marta2.png">
          Ch. 3 - Teammates
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="chapter">
          <img src="../assets/img/teammates.png">
          Ch. 4 - Classes Start
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="chapter">
          <img src="../assets/img/marta3.png">
          Ch. 5 - First Practices
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="chapter">
          <img src="../assets/img/practices.png">
          Ch. 6 - Celebrate
        </ion-card>
      </ion-col>
    </ion-row>
    
  </ion-grid>

  <div class="ion-text-center">
    <ion-button color="medium" class="endbutton">+</ion-button>
  </div>


</ion-content>
