#smalltitle {
    text-decoration: underline;
}

.chapter {
    width: 100%;
    height: 180px;
    margin: 10px 15px 10px 0px;
}

.chapter div img{
    height: 150px;
    object-fit: cover;
}

.chapter div p{
    padding: 0px 10px 10px 10px;
}