<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Team Tab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Team</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Create your dream team
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Setter</ion-label>
      <ion-select okText="Okay!">
        <ion-select-option value="Kageyama">Kageyama</ion-select-option>
        <ion-select-option value="Sugawara">Sugawara</ion-select-option>
        <ion-select-option value="Oikawa">Oikawa</ion-select-option>
        <ion-select-option value="Kenma">Kenma</ion-select-option>
        <ion-select-option value="Atsumu">Atsumu</ion-select-option>
        <ion-select-option value="Koganegawa">Koganegawa</ion-select-option>
        <ion-select-option value="Akaashi">Akaashi</ion-select-option>

      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Wing spiker 1</ion-label>
      <ion-select okText="Got em!">
        <ion-select-option value="Asahi">Asahi</ion-select-option>
        <ion-select-option value="Tanaka">Tanaka</ion-select-option>
        <ion-select-option value="Daichi">Daichi</ion-select-option>
        <ion-select-option value="Iwaizumi">Iwaizumi</ion-select-option>
        <ion-select-option value="Mad Dog">Mad Dog</ion-select-option>
        <ion-select-option value="Bokuto">Bokuto</ion-select-option>
        <ion-select-option value="Osamu">Osamu</ion-select-option>
        <ion-select-option value="Ushiwaka">Ushiwaka</ion-select-option>
        <ion-select-option value="Goshiki">Goshiki</ion-select-option>
      </ion-select>
    </ion-item>

      
    <ion-item>
      <ion-label>Wing spiker 2</ion-label>
      <ion-select>
        <ion-select-option value="Asahi">Asahi</ion-select-option>
        <ion-select-option value="Tanaka">Tanaka</ion-select-option>
        <ion-select-option value="Daichi">Daichi</ion-select-option>
        <ion-select-option value="Iwaizumi">Iwaizumi</ion-select-option>
        <ion-select-option value="Mad Dog">Mad Dog</ion-select-option>
        <ion-select-option value="Bokuto">Bokuto</ion-select-option>
        <ion-select-option value="Osamu">Osamu</ion-select-option>
        <ion-select-option value="Ushiwaka">Ushiwaka</ion-select-option>
        <ion-select-option value="Goshiki">Goshiki</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>Middle Blocker 1</ion-label>
      <ion-select okText="Okay!">
        <ion-select-option value="Hinata">Hinata</ion-select-option>
        <ion-select-option value="Tsukkishima">Tsukkishima</ion-select-option>
        <ion-select-option value="Aone">Aone</ion-select-option>
        <ion-select-option value="Tendo">Tendo</ion-select-option>
        <ion-select-option value="Lev">Lev</ion-select-option>
        <ion-select-option value="Kuroo">Kuroo</ion-select-option>
        <ion-select-option value="Inuoka">Inuoka</ion-select-option>

      </ion-select>
    </ion-item>
  

    <ion-item>
      <ion-label>Middle Blocker 2</ion-label>
      <ion-select okText="Okay!">
        <ion-select-option value="Hinata">Hinata</ion-select-option>
        <ion-select-option value="Tsukkishima">Tsukkishima</ion-select-option>
        <ion-select-option value="Aone">Aone</ion-select-option>
        <ion-select-option value="Tendo">Tendo</ion-select-option>
        <ion-select-option value="Lev">Lev</ion-select-option>
        <ion-select-option value="Kuroo">Kuroo</ion-select-option>
        <ion-select-option value="Inuoka">Inuoka</ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Libero</ion-label>
      <ion-select okText="Ready!">
        <ion-select-option value="Nishinoya">Nishinoya</ion-select-option>
        <ion-select-option value="Yaku">Yaku</ion-select-option>
        <ion-select-option value="Watari">Watari</ion-select-option>
      </ion-select>
    </ion-item>

  
  </ion-list>



  <ion-card>
    <ion-img  src="../assets/img/positions.png"></ion-img>
  </ion-card>



</ion-content>
